@import 'variables';

header{
    padding: 1.4375rem 0rem!important;
    @media(max-width:768px){
        padding: 1.4375rem 1rem!important;
    }
    .header-container{
        .logo{
            img{
                height: 2.75rem;
            }
        }

        .links-container{
            @media(max-width:768px){
                display: none;
            }
            a{
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                color: $black;
                padding: 7px 12px;
            }

            .contact-us-btn{
                background-color: $cta-color;
                padding: 0.7875rem 1.3125em;
                border-radius: 10rem;
                color: $white;
            }
        }

        .ham-icon{
            @media(min-width:768px){
                display: none;
            }
            img{
                width: 40px;
            }
        }
    }
}