.hero-section-container-main{
    height: 75vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('/images/hero-img.jpg') lightgray 50% / cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero-section-container{
        width: 100%;
        h1{
            color: #fff;
            font-size: 4.0625rem;
            font-weight: 800;
        }

        p{
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
        }

        .search-box-container{
            
            width: 100%;
            background-color: rgba(255, 255, 255, .15);
            padding: 0.5em 0em;
            border-radius: 0.8rem;
            .inner-container{
                background-color: white;
                border-radius: 0.8rem;
                width: 98%;
                height: 80%!important;
                overflow: hidden;
                padding: 1.875em 1.25em;
                .input-field{
                    width: calc(20% - 0.8em);
                }
                input{
                    width: 100%;
                    border: 1px solid #ebebeb;
                    color: #484848;
                    font-size: 0.875rem;
                    padding: 1em 0.95em;
                }

                select{
                    width: 100%;
                    border: 1px solid #ebebeb;
                    color: #717171!important;
                    font-size: 0.875rem;
                    padding: 1em 0.95em;
                }

                button{
                    padding: 1em 0.95em;
                    font-size: 0.875rem;
                    border: none;
                    border-radius: 0.4em;
                    color: $white;
                    background-color: $black;
                }
            .search-box{
                overflow: hidden;
                input{
                    width: 100%;
                }
            }
            }
        }
    }
}

.slider-card-container{
    background: #FFF;
    box-shadow: 0px 0px 50.3px 0px rgba(0, 0, 0, 0.14);
    padding: 1.5625em;
    border-radius: 2.5rem;
    margin-top: -4em;
    width: 60%!important;
    .slider-card{
        .splide__arrow--prev{
            position: absolute;
            left: 0px;
        }
        .splide__arrow--next{
            position: absolute;
            right: -1.5625em;
        }
        .splide{
            .splide__track{
                .splide__list{
                    padding: 0em 0.3em!important;
                    display: flex;
                    gap: 2em;
                    .splide__slide{
                        background-color: white;
                        height: 290px;
                        width: 18.66666667%!important;
                        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
                        margin: .5em 0em;
                        border-radius: 1.4em;
                        overflow: hidden;

                        .category-label{
                            padding: 0.5625em 1.875em;
                        }
                    }
                }
            }
        }
    }
}

.splide__slide img {
    width: 100%;
    height: 80%;   
  }

  .stays-for-rent-container{
    padding: 5.625em 0em;
    .stays-for-rent{
        .heading-container{
            img{
                width: 50px;
                margin-bottom: 1.5625rem;
            }
            h3{
                font-family: inherit;
                font-size: 1.85rem;
                font-weight: 800;

                span{
                    color: $cta-color;
                }
            }

            p{
                font-size: 1.0625rem;
                font-weight: 500;
                color: #b5b5b5;
            }
        }

        .cards-container{
            margin-top: 2.1875em;
            width: 75%;
            @media(max-width: 1400px){
                width: 80%;
            }
            .cardd{
                display: grid;
                height: 600px;
                width: 32%;
                grid-template-rows: 60% 40%;
                background-color: white;
                border-radius: 1.8rem;
                overflow: hidden;
                box-shadow: 15px 15px 30px rgb(0 0 0/12%);
                .image{
                    background-color: white;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    overflow: hidden;
                    border-radius: 1.8rem;
                    position: relative;
                    padding: 1.5rem;

                    .top-items{
                        .rating-circle{
                            background-color: $cta-color;
                            height: 45px;
                            width: 45px;
                            border-radius: 100%;

                            p{
                                font-size: 0.9rem;
                                font-weight: 700;
                                font-family: inherit;
                                color: $white;
                            }
                        }

                        .heart-icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgba(255, 255, 255, .19);
                            height: 50px;
                            width: 50px;
                            border-radius: 100%;
                            img{
                                width: 23px;
                                height: auto;
                            }
                        }
                    }

                    .details-section{
                        gap: 0.7em;
                        p{
                            font-family: inherit;
                            color: $white;
                            font-size: 0.875rem;
                            font-weight: 400;
                            color: $white;
                            text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
                        }
                        h5{
                            font-family: inherit;
                            font-size: 1.25rem;
                            font-weight: 600;
                            color: $white;
                            text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
                            span{
                                font-size: 0.875rem;
                            }
                        }

                        .prop-name{
                            .check-icon{
                                width: 25px;
                                height: 25px;
                                background-color: $cta-color;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 100%;
                                img{
                                    width: 18px;
                                }
                            }

                            h4{
                                font-family: inherit;
                                color: $white;
                                font-size: 1.0625rem;
                                font-weight: 600;
                                margin-left: 0.4375em;
                                text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
                            }
                        }
                    }
                }

                .details{
                    background-color: $white;
                    width: 100%;
                    overflow: hidden;

                    .features-row{
                        padding: 0.6875em 0.9em;

                        .item{
                            img{
                                width: 20px;
                            }

                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 0.6em;
                            justify-content: center;
                            text-align: center;

                            p{
                                font-family: inherit;
                                font-size: 0.8125rem;
                                font-weight: 400;
                            }
                        }

                        .sqft{
                            img{
                                width: 17px!important;
                            }
                        }
                    }

                    .location-row{
                        padding: 1em 1.5em;
                        border-top: 2px solid #e9e9e9;
                        .loc-row{
                            gap: 0.5em;
                            img{
                                width: 20px;
                            }
                            p{
                                font-family: inherit;
                                color: $txt-grey;
                                font-size: 0.875rem;
                            }
                        }

                        .loc-row-2{
                            margin-top: 1em;
                            p{
                                font-family: inherit;
                                color: $txt-grey;
                                font-size: 0.975rem;
                            }
                        }

                        
                    }

                    .icons-row{
                        display: flex;
                        width: 100%;
                        height: 5em;
                        padding: 0em 1.5em;
                        margin-top: 0.6em;

                        .iconn{
                            background-color: $black;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            img{
                                width: 25px;
                            }
                        }
                    }
                }
            }

            .cardd1{
                .image{
                    background: linear-gradient(138deg, rgba(0, 0, 0, 0.00) 3.1%, rgba(0, 0, 0, 0.70) 100.25%), url('/images/stayimg1.jpg') lightgray 50% / cover no-repeat;
                }
            }

            .cardd2{
                .image{
                    background: linear-gradient(138deg, rgba(0, 0, 0, 0.00) 3.1%, rgba(0, 0, 0, 0.70) 100.25%), url('/images/stayimg2.jpg') lightgray 50% / cover no-repeat;
                }
            }

            .cardd3{
                .image{
                    background: linear-gradient(138deg, rgba(0, 0, 0, 0.00) 3.1%, rgba(0, 0, 0, 0.70) 100.25%), url('/images/stayimg3.jpg') lightgray 50% / cover no-repeat;
                }
            }
        }

        .btn-row{
            button{
                margin-top: 2.1875rem;
                background-color: white;
                border: 4px solid #eee;
                padding: 6px 30px;
                border-radius: 5rem;

                img{
                    width: 25px;
                    margin-left: 0.9em;
                }
            }
        }
    }
  }