.hero-image-slider-container {
  position: relative;
  overflow: hidden;
}
.hero-image-slider-container .slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure the overlay is above the slider */
  pointer-events: none;
}
.hero-image-slider-container .slider-overlay .text-container {
  pointer-events: none;
  position: absolute;
  left: 10%;
  bottom: 10%;
  gap: 0.5em;
}
.hero-image-slider-container .slider-overlay .text-container h1 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.hero-image-slider-container .slider-overlay .text-container p {
  font-size: 0.9rem;
  color: rgb(239, 239, 239);
  font-weight: 600;
}
.hero-image-slider-container .slider-overlay .text-container .icon-cards-container {
  gap: 1em;
  flex-wrap: wrap;
}
.hero-image-slider-container .slider-overlay .text-container .icon-cards-container .item {
  display: flex;
  align-items: center;
  gap: 1em;
}
.hero-image-slider-container .slider-overlay .text-container .icon-cards-container .item .icon {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.hero-image-slider-container .slider-overlay .text-container .icon-cards-container .item p {
  text-shadow: none;
  font-size: 1.0625rem;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.hero-image-slider-container .slider-overlay .text-container .icon-cards-container .item img {
  width: 20px;
}

.link-items-container-main {
  overflow: hidden;
  padding-bottom: 2em;
}
.link-items-container-main .link-items-container {
  flex-wrap: wrap;
}
.link-items-container-main .link-items-container button {
  margin-top: 2.1875rem;
  background-color: white;
  border: 4px solid #eee;
  padding: 0.6em 1em;
  border-radius: 5rem;
  display: flex;
  gap: 0.5em;
}
.link-items-container-main .link-items-container button img {
  width: 25px;
  margin-left: 0.9em;
}

.information-section-container-main {
  padding: 5.625em 0em;
  background-color: #f9f9f9;
}
@media (max-width: 900px) {
  .information-section-container-main .information-section-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.information-section-container-main .information-section-container .item-card {
  background-color: white;
  border-radius: 2rem;
  padding: 1.875em;
}
.information-section-container-main .information-section-container .item-card .head-section {
  padding-bottom: 2em;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  align-items: center;
}
.information-section-container-main .information-section-container .item-card .head-section .icon {
  width: 30px;
  height: 30px;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}
.information-section-container-main .information-section-container .item-card .head-section .icon img {
  width: 60%;
}
.information-section-container-main .information-section-container .item-card .head-section h4 {
  font-size: #252525;
  font-size: 1rem;
  font-weight: 500;
}
.information-section-container-main .information-section-container .item-card-follow .body-section {
  padding: 2em 0em;
  display: flex;
  align-items: center;
  gap: 2em;
}
.information-section-container-main .information-section-container .item-card-follow .body-section .item {
  display: flex;
  align-items: center;
}
.information-section-container-main .information-section-container .item-card-follow .body-section .item .icon {
  width: 30px;
  height: 30px;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}
.information-section-container-main .information-section-container .item-card-follow .body-section .item .icon img {
  width: 60%;
}
.information-section-container-main .information-section-container .item-card-follow .body-section .item h4 {
  font-size: #252525;
  font-size: 1rem;
  font-weight: 400;
}
.information-section-container-main .information-section-container .item-card-contact .body-section .row1 {
  margin-top: 2em;
  width: 100%;
  gap: 3em;
}
.information-section-container-main .information-section-container .item-card-contact .body-section .item {
  display: flex;
  width: 100%;
  align-items: center;
}
.information-section-container-main .information-section-container .item-card-contact .body-section .item .icon {
  width: 30px;
  height: 30px;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}
.information-section-container-main .information-section-container .item-card-contact .body-section .item .icon img {
  width: 60%;
}
.information-section-container-main .information-section-container .item-card-contact .body-section .item h4 {
  font-size: #252525;
  font-size: 1rem;
  font-weight: 400;
}
.information-section-container-main .information-section-container .left-column {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
@media (max-width: 900px) {
  .information-section-container-main .information-section-container .left-column {
    width: 100%;
    row-gap: 1.7em;
  }
}
.information-section-container-main .information-section-container .right-column {
  width: 48.5%;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
@media (max-width: 900px) {
  .information-section-container-main .information-section-container .right-column {
    width: 100%;
    row-gap: 1.7em;
    margin-top: 1.7em;
  }
}
.information-section-container-main .information-section-container .right-column .first-row .item-card {
  width: 48%;
}
.information-section-container-main .information-section-container .right-column .first-row .item-card-price .body-section {
  padding: 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-section-container-main .information-section-container .right-column .first-row .item-card-price .body-section h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #98c33e;
}
.information-section-container-main .information-section-container .right-column .first-row .item-card-neighbourhood .body-section {
  padding: 1em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-section-container-main .information-section-container .right-column .first-row .item-card-neighbourhood .body-section .item .icon {
  width: 60px !important;
  height: 60px;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.information-section-container-main .information-section-container .right-column .first-row .item-card-neighbourhood .body-section .item .icon img {
  width: 40%;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section .cards-container {
  width: 80%;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section .cards-container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1em;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section .cards-container .item h5 {
  font-size: 1rem;
  font-weight: 400;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section .cards-container .item p {
  font-size: 0.7rem;
  color: #979797;
}
.information-section-container-main .information-section-container .right-column .item-card-features .body-section .cards-container .item img {
  width: 20px;
}
.information-section-container-main .information-section-container .right-column .item-card-description .body-section .kkk {
  margin-top: 2.5em;
  font-size: 1rem;
  line-height: 1.3em !important;
}
.information-section-container-main .information-section-container .right-column .item-card-description .body-section .kkk span {
  font-size: 5rem;
  font-weight: 700;
}
.information-section-container-main .information-section-container .right-column .item-card-description .body-section .hhh {
  line-height: 1.8275;
}
.information-section-container-main .information-section-container .right-column .item-card-amneties .body-section .row1 {
  margin-top: 2em;
  width: 100%;
  gap: 3em;
}
.information-section-container-main .information-section-container .right-column .item-card-amneties .body-section .item {
  display: flex;
  width: 100%;
  align-items: center;
}
.information-section-container-main .information-section-container .right-column .item-card-amneties .body-section .item .icon {
  width: 30px;
  height: 30px;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}
.information-section-container-main .information-section-container .right-column .item-card-amneties .body-section .item .icon img {
  width: 60%;
}
.information-section-container-main .information-section-container .right-column .item-card-amneties .body-section .item h4 {
  font-size: #252525;
  font-size: 1rem;
  font-weight: 400;
}

.splide .splide__track {
  height: 70vh !important;
}

.splide2 .splide__track {
  height: 7rem !important;
}
.splide2 .splide__slide img {
  width: 90%;
  border-radius: 1rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.stays-for-rent-container .stays-for-rent .cards-container {
  width: 100%;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd {
  width: 23%;
}/*# sourceMappingURL=detailpage.css.map */