body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}

img {
  margin: 0px !important;
  padding: 0px !important;
}

.hero-section-container-main {
  height: 75vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("/images/hero-img.jpg") lightgray 50%/cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  .hero-section-container-main {
    height: 90vh;
  }
}
@media (max-width: 400px) {
  .hero-section-container-main {
    height: 100vh;
  }
}
.hero-section-container-main .hero-section-container {
  width: 100%;
}
.hero-section-container-main .hero-section-container h1 {
  color: #fff;
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 0.2em;
}
@media (max-width: 1200px) {
  .hero-section-container-main .hero-section-container h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .hero-section-container-main .hero-section-container h1 {
    font-size: 2.1rem;
  }
}
.hero-section-container-main .hero-section-container p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1em;
}
@media (max-width: 1200px) {
  .hero-section-container-main .hero-section-container p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .hero-section-container-main .hero-section-container p {
    height: 0.8rem;
    margin-bottom: 5em;
  }
}
.hero-section-container-main .hero-section-container .search-box-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0.5em 0em;
  border-radius: 0.8rem;
}
@media (max-width: 576px) {
  .hero-section-container-main .hero-section-container .search-box-container {
    padding: 0.3em 0em;
  }
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container {
  background-color: white;
  border-radius: 0.8rem;
  width: 98%;
  height: 80% !important;
  overflow: hidden;
  padding: 1.875em 1.25em;
}
@media (max-width: 576px) {
  .hero-section-container-main .hero-section-container .search-box-container .inner-container {
    flex-wrap: wrap;
    row-gap: 0.8em;
  }
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container .input-field {
  width: calc(20% - 0.8em);
}
@media (max-width: 576px) {
  .hero-section-container-main .hero-section-container .search-box-container .inner-container .input-field {
    width: 100%;
  }
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container input {
  width: 100%;
  border: 1px solid #ebebeb;
  color: #484848;
  font-size: 0.875rem;
  padding: 1em 0.95em;
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container select {
  width: 100%;
  border: 1px solid #ebebeb;
  color: #717171 !important;
  font-size: 0.875rem;
  padding: 1em 0.95em;
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container button {
  padding: 1em 0.95em;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.4em;
  color: #fff;
  background-color: #252525;
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container .search-box {
  overflow: hidden;
}
.hero-section-container-main .hero-section-container .search-box-container .inner-container .search-box input {
  width: 100%;
}

.slider-card-container {
  background: #FFF;
  box-shadow: 0px 0px 50.3px 0px rgba(0, 0, 0, 0.14);
  padding: 1.5625em;
  border-radius: 2.5rem;
  margin-top: -4em;
  width: 60% !important;
}
@media (max-width: 576px) {
  .slider-card-container {
    margin-top: -1.5em;
  }
}
@media (max-width: 400px) {
  .slider-card-container {
    margin-top: 1.5em;
  }
}
@media (max-width: 1200px) {
  .slider-card-container {
    width: 80% !important;
  }
}
.slider-card-container .slider-card .splide__arrow--prev {
  position: absolute;
  left: 0px;
}
.slider-card-container .slider-card .splide__arrow--next {
  position: absolute;
  right: -1.5625em;
}
.slider-card-container .slider-card .splide .splide__track .splide__list {
  padding: 0em 0.3em !important;
  display: flex;
  gap: 2em;
}
.slider-card-container .slider-card .splide .splide__track .splide__list .splide__slide {
  background-color: white;
  height: 290px;
  width: 18.66666667% !important;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  margin: 0.5em 0em;
  border-radius: 1.4em;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .slider-card-container .slider-card .splide .splide__track .splide__list .splide__slide {
    width: 12rem !important;
  }
}
.slider-card-container .slider-card .splide .splide__track .splide__list .splide__slide .category-label {
  padding: 0.5625em 1.875em;
}

.splide__slide img {
  width: 100%;
  height: 80%;
}

.stays-for-rent-container {
  padding: 5.625em 0em;
}
@media (max-width: 1200px) {
  .stays-for-rent-container {
    padding: 4.625em 0em;
  }
}
.stays-for-rent-container .stays-for-rent .heading-container img {
  width: 32px;
  margin-bottom: 1.5625rem;
}
.stays-for-rent-container .stays-for-rent .heading-container h3 {
  font-family: inherit;
  font-size: 1.85rem;
  font-weight: 800;
  margin-bottom: 0.7em;
}
@media (max-width: 900px) {
  .stays-for-rent-container .stays-for-rent .heading-container h3 {
    font-size: 1.5rem;
  }
}
.stays-for-rent-container .stays-for-rent .heading-container h3 span {
  color: #98c33e;
}
.stays-for-rent-container .stays-for-rent .heading-container p {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #b5b5b5;
}
@media (max-width: 1200px) {
  .stays-for-rent-container .stays-for-rent .heading-container p {
    font-size: 0.9rem;
  }
}
.stays-for-rent-container .stays-for-rent .cards-container {
  margin-top: 2.1875em;
  width: 75%;
}
@media (max-width: 1400px) {
  .stays-for-rent-container .stays-for-rent .cards-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .stays-for-rent-container .stays-for-rent .cards-container {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .stays-for-rent-container .stays-for-rent .cards-container {
    flex-wrap: wrap;
    row-gap: 1.8em;
  }
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd {
  display: grid;
  height: 600px;
  width: 32%;
  grid-template-rows: 60% 40%;
  background-color: white;
  border-radius: 1.8rem;
  overflow: hidden;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.12);
}
@media (max-width: 900px) {
  .stays-for-rent-container .stays-for-rent .cards-container .cardd {
    width: 100%;
  }
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 1.8rem;
  position: relative;
  padding: 1.5rem;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .top-items .rating-circle {
  background-color: #98c33e;
  height: 45px;
  width: 45px;
  border-radius: 100%;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .top-items .rating-circle p {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .top-items .heart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.19);
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .top-items .heart-icon img {
  width: 23px;
  height: auto;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section {
  gap: 0.7em;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section p {
  font-family: inherit;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section h5 {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section h5 span {
  font-size: 0.875rem;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section .prop-name .check-icon {
  width: 25px;
  height: 25px;
  background-color: #98c33e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section .prop-name .check-icon img {
  width: 18px;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .image .details-section .prop-name h4 {
  font-family: inherit;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 600;
  margin-left: 0.4375em;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .features-row {
  padding: 0.6875em 0.9em;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .features-row .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.6em;
  justify-content: center;
  text-align: center;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .features-row .item img {
  width: 20px;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .features-row .item p {
  font-family: inherit;
  font-size: 0.8125rem;
  font-weight: 400;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .features-row .sqft img {
  width: 17px !important;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row {
  padding: 1em 1.5em;
  border-top: 2px solid #e9e9e9;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row .loc-row {
  gap: 0.5em;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row .loc-row img {
  width: 20px;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row .loc-row p {
  font-family: inherit;
  color: #252525;
  font-size: 0.875rem;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row .loc-row-2 {
  margin-top: 1em;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .location-row .loc-row-2 p {
  font-family: inherit;
  color: #252525;
  font-size: 0.975rem;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .icons-row {
  display: flex;
  width: 100%;
  height: 5em;
  padding: 0em 1.5em;
  margin-top: 0.6em;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .icons-row .iconn {
  background-color: #252525;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd .details .icons-row .iconn img {
  width: 25px;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd1 .image {
  background: linear-gradient(138deg, rgba(0, 0, 0, 0) 3.1%, rgba(0, 0, 0, 0.7) 100.25%), url("/images/stayimg1.jpg") lightgray 50%/cover no-repeat;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd2 .image {
  background: linear-gradient(138deg, rgba(0, 0, 0, 0) 3.1%, rgba(0, 0, 0, 0.7) 100.25%), url("/images/stayimg2.jpg") lightgray 50%/cover no-repeat;
}
.stays-for-rent-container .stays-for-rent .cards-container .cardd3 .image {
  background: linear-gradient(138deg, rgba(0, 0, 0, 0) 3.1%, rgba(0, 0, 0, 0.7) 100.25%), url("/images/stayimg3.jpg") lightgray 50%/cover no-repeat;
}
.stays-for-rent-container .stays-for-rent .btn-row button {
  margin-top: 2.1875rem;
  background-color: white;
  border: 4px solid #eee;
  padding: 6px 30px;
  border-radius: 5rem;
}
.stays-for-rent-container .stays-for-rent .btn-row button img {
  width: 25px;
  margin-left: 0.9em;
}

.get-started-container .get-started {
  padding: 5.625em 0em;
}
@media (max-width: 576px) {
  .get-started-container .get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.get-started-container .get-started .heading-container {
  margin-bottom: 6.25em;
}
.get-started-container .get-started .heading-container img {
  width: 32px;
  margin-bottom: 1.5625rem;
}
@media (max-width: 576px) {
  .get-started-container .get-started .heading-container {
    width: 90%;
  }
}
.get-started-container .get-started .heading-container h3 {
  font-family: inherit;
  font-size: 1.85rem;
  font-weight: 800;
  margin-bottom: 1.375em;
}
.get-started-container .get-started .heading-container h3 span {
  color: #98c33e;
}
@media (max-width: 900px) {
  .get-started-container .get-started .heading-container h3 {
    font-size: 1.5rem;
  }
}
.get-started-container .get-started .heading-container p {
  font-size: 1.3125rem;
  font-weight: 700;
  color: #252525;
}
@media (max-width: 900px) {
  .get-started-container .get-started .heading-container p {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .get-started-container .get-started .card-container {
    width: 90%;
    flex-wrap: wrap;
    row-gap: 1.5em;
  }
}
.get-started-container .get-started .card-container .item {
  width: 49%;
  height: 21.875em;
  overflow: hidden;
  border-radius: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 576px) {
  .get-started-container .get-started .card-container .item {
    height: 27em;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.get-started-container .get-started .card-container .item .text {
  display: flex;
  flex-direction: column;
  gap: 1.625em;
  padding: 0em 3.75em;
}
@media (max-width: 900px) {
  .get-started-container .get-started .card-container .item .text {
    gap: 1rem;
  }
}
.get-started-container .get-started .card-container .item .text h3 {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
}
@media (max-width: 900px) {
  .get-started-container .get-started .card-container .item .text h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) {
  .get-started-container .get-started .card-container .item .text h3 {
    font-size: 1.5rem;
  }
}
.get-started-container .get-started .card-container .item .text p {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 900px) {
  .get-started-container .get-started .card-container .item .text p {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .get-started-container .get-started .card-container .item .text p {
    font-size: 0.8rem;
  }
}
.get-started-container .get-started .card-container .item .text button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #eee;
}
.get-started-container .get-started .card-container .item .text button img {
  width: 23px;
}
.get-started-container .get-started .card-container .item1 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.09%, rgba(0, 0, 0, 0.65) 103.43%), url("/images/call-to.webp") lightgray 50%/cover no-repeat;
}
.get-started-container .get-started .card-container .item2 {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.09%, rgba(0, 0, 0, 0.65) 103.43%), url("/images/call-to-2.webp") lightgray 50%/cover no-repeat;
}

.keep-exploring-container {
  padding-bottom: 5.625em;
}
@media (max-width: 576px) {
  .keep-exploring-container .keep-exploring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.keep-exploring-container .keep-exploring .heading-container img {
  width: 32px;
  margin-bottom: 1.5625rem;
}
.keep-exploring-container .keep-exploring .heading-container h3 {
  font-family: inherit;
  font-size: 1.85rem;
  font-weight: 800;
  margin-bottom: 0.7em;
}
.keep-exploring-container .keep-exploring .heading-container h3 span {
  color: #98c33e;
}
@media (max-width: 900px) {
  .keep-exploring-container .keep-exploring .heading-container h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .keep-exploring-container .keep-exploring .heading-container h3 {
    font-size: 1.3rem;
  }
}
.keep-exploring-container .keep-exploring .heading-container p {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #b5b5b5;
}
@media (max-width: 576px) {
  .keep-exploring-container .keep-exploring .heading-container p {
    font-size: 0.9rem;
  }
}
.keep-exploring-container .keep-exploring .cards-container {
  margin-top: 2.4em;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .keep-exploring-container .keep-exploring .cards-container {
    row-gap: 1.5em;
  }
}
@media (max-width: 576px) {
  .keep-exploring-container .keep-exploring .cards-container {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
}
.keep-exploring-container .keep-exploring .cards-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 576px) {
  .keep-exploring-container .keep-exploring .cards-container .item {
    width: 100%;
  }
}
.keep-exploring-container .keep-exploring .cards-container .item .circle-img {
  box-shadow: 14px 15px 48.5px -2px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 180px;
  border-radius: 100%;
  height: 180px;
}
.keep-exploring-container .keep-exploring .cards-container .item .circle-img .number {
  position: absolute;
  bottom: 10%;
  left: 50%; /* Move the element to the center of the container */
  transform: translateX(-50%); /* Adjust the position to truly center it */
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  border-radius: 100%;
}
.keep-exploring-container .keep-exploring .cards-container .item .circle-img .number p {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  text-shadow: 0.8px 1.7px 0.6px rgba(0, 0, 0, 0.62);
}
.keep-exploring-container .keep-exploring .cards-container .item h5 {
  margin-top: 1.1em !important;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.125rem;
}
.keep-exploring-container .keep-exploring .cards-container .item1 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/stayimg1.jpg") lightgray 50%/cover no-repeat;
}
.keep-exploring-container .keep-exploring .cards-container .item2 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/room.jpg") lightgray 50%/cover no-repeat;
}
.keep-exploring-container .keep-exploring .cards-container .item3 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/slider/img2.png") lightgray 50%/cover no-repeat;
}
.keep-exploring-container .keep-exploring .cards-container .item4 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/inn.webp") lightgray 50%/cover no-repeat;
}
.keep-exploring-container .keep-exploring .cards-container .item5 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/sl4.png") lightgray 50%/cover no-repeat;
}
.keep-exploring-container .keep-exploring .cards-container .item6 .circle-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/images/featured.webp") lightgray 50%/cover no-repeat;
}

header {
  padding: 1.4375rem 0rem !important;
}
@media (max-width: 768px) {
  header {
    padding: 1.4375rem 1rem !important;
  }
}
header .header-container .logo img {
  height: 2.75rem;
}
@media (max-width: 768px) {
  header .header-container .links-container {
    display: none;
  }
}
header .header-container .links-container a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #252525;
  padding: 7px 12px;
}
header .header-container .links-container .contact-us-btn {
  background-color: #98c33e;
  padding: 0.7875rem 1.3125em;
  border-radius: 10rem;
  color: #fff;
}
@media (min-width: 768px) {
  header .header-container .ham-icon {
    display: none;
  }
}
header .header-container .ham-icon img {
  width: 40px;
}

footer {
  background-color: #98c33e;
  border-radius: 20px;
  padding: 3.125em !important;
  color: #fff;
  background-image: url(/images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1.5em;
}
@media (max-width: 576px) {
  footer {
    margin-bottom: 0em;
    border-radius: 0px;
  }
}
@media (max-width: 768px) {
  footer .footer-row {
    row-gap: 1em;
  }
}
footer .footer-row .logo img {
  width: 50%;
}
@media (max-width: 768px) {
  footer .footer-row .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer .footer-row .logo p {
  color: #fff;
}
@media (max-width: 768px) {
  footer .footer-row .logo p {
    text-align: center;
  }
}
footer .footer-row h2 {
  color: #fff;
  font-family: inherit;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footer-row ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  margin-top: 0.9375em;
}
footer .footer-row ul li {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: start;
  gap: 1em;
}
@media (max-width: 576px) {
  footer .footer-row ul li {
    text-align: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */